/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-size: 100px;
  background-color: red; // TODO: cancellare
}

/* Secondary font class */
.neue {
  font-family: $secondary-font;
}
