/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

/* ________ GENERAL ________ */
/* Secondary font class */
.neue {
  font-family: $secondary-font;
}

body {
  background-color: $body-color;
}

// img {
//   width: 100%;
//   display: block;
// }

.container {
  padding: 0 216px;
}
