/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: $primary-font-size;
}

/* ________ GENERAL ________ */
/* Secondary font class */
.neue {
  font-family: $secondary-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
}

.language {
  position: fixed;
  top: 50%;
  right: 0;
  transform: rotate(-90deg);
  z-index: 12345;
}

.container {
  padding: 0 200px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.1;
  letter-spacing: -1px;
}

.title-image {
  @include center_element;
  font-size: 69px;
  color: rgba(255, 255, 255, 0.6);

  &::after {
    @include underline_link;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
