// HEADER
header {
  position: fixed;
  width: 100%;
  z-index: 1234;
  top: 0;
  left: 0;

  //Navbar
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 113px;

    button {
      @include transparent_button;
      font-weight: bold;
      cursor: pointer;
      position: relative;

      &::after {
        @include underline_link;
        background-color: black;
      }

      &:hover::after {
        width: 100%;
      }
    }

    #logo {
      img {
        position: relative;
        vertical-align: bottom;
        transition: 0.5s ease,
      }
    }
  }

  /////////////////// MEDIA QUERY ///////////////////

  @media screen and (max-width: 800px) {
    .container {
      padding: 0 30px;
    }

    nav {
      padding-top: 30px;

      button {
        font-size: $small-size;
      }

      #logo {
        img {
          width: 150px;
        }
      }
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1000px) {
    .container {
      padding: 0 80px;
    }
  }
}
