// HEADER
header {
  position: fixed;
  width: 100%;
  z-index: 1234;
  top: 0;
  left: 0;

  //Navbar
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 113px;

    button {
      @include transparent_button;
      font-weight: bold;
      cursor: pointer;
      position: relative;

      &::after {
        @include underline_link;
        background-color: black;
      }

      &:hover::after {
        width: 100%;
      }
    }

    #logo {
      img {
        position: relative;
        left: -17%;
      }
    }
  }
}
