// MAIN
main {
  #jumbo {
    margin-top: 282px;

    .jumbo-container {
      position: relative;

      img {
        width: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);

        &.poltrona {
          top: -50px;
        }
        &.sedia {
          top: 15px;
          left: 55%;
        }
        &.tre-sedie {
          width: 500px;
          top: 65px;
        }
        &.spalliere {
          top: -40px;
          left: 57%
        }
      }
    }
  }
}
