// STYLE BUTTONS
@mixin transparent_button {
  background-color: transparent;
  border: none;
  outline: none;
}

// CENTER ELEMENT
@mixin center_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
